MonsterMasterUnity/Library/*
MonsterMasterUnity/Logs/*
MonsterMasterUnity/Library/StateCache/*
MonsterMasterUnity/UserSettings/*
MonsterMasterUnity/Temp
MonsterMasterUnity/Temp/*
.gitconfig
.bash_history
.viminfo