MonsterMasterMobile/Library/*
MonsterMasterMobile/Logs/*
MonsterMasterMobile/UserSettings/*
MonsterMasterMobile/Temp/*
.gitconfig
.bash_history
.viminfo
.git-for-windows-updater
.lesshst
MonsterMasterIncrementalJava/.metadata/*
MonsterMasterIncrementalJava/.settings/*
MonsterMasterIncrementalJava/MonsterMasterIncremental/bin/SQLUserPass.txt
MonsterMasterIncrementalJava/MonsterMasterIncremental/src/SQLUserPass.txt
MonsterMasterIncrementalJava/MonsterMaster/target/*
MonsterMasterIncrementalJava/MonsterMaster/src/SQLUserPass.txt
MonsterMasterIncrementalJava/MonsterMasterJavaFormat.xml
