MonsterMasterMobile/Library/*
MonsterMasterMobile/Logs/*
MonsterMasterMobile/UserSettings/*
MonsterMasterMobile/Temp/*
.gitconfig
.bash_history
.viminfo
.git-for-windows-updater
.lesshst
MonsterMasterSpring/.metadata/*
MonsterMasterSpring/.settings/*
MonsterMasterSpring/MonsterMaster/target/*
MonsterMasterSpring/MonsterMaster/.metadata/*
MonsterMasterSpring/MonsterMaster/src/SQLUserPass.txt
MonsterMasterSpring/MonsterMasterJavaFormat.xml
ServerProject/secret.txt
